@using BetterPrice.ViewModels
@model ProdutoViewModel

<div class="card" style="width: 18rem; margin: 15px;">
    <img src="@Model.ImageUrl" class="card-img-top" alt="@Model.Descricao Image">
    <div class="card-body text-center">
        <div class="row">
            <div class="col-8"><h5 class="card-title">R$ @Model.Valor.ToString("F2")</h5></div>
            <div class="col-4"><span class="badge bg-secondary">@Model.Categoria</span></div>
        </div>
        <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
        
        <p class="card-text">@Model.Descricao</p>

        <!-- Avaliacao Section -->
        <div class="rating mt-3">
            @for (int i = 1; i <= 5; i++)
            {
                if (Model.Avaliacao >= i)
                {
                    <i class="fas fa-star text-warning"></i>
                }
                else if (Model.Avaliacao >= i - 0.5)
                {
                    <i class="fas fa-star-half-alt text-warning"></i>
                }
                else
                {
                    <i class="far fa-star text-muted"></i>
                }
            }
        </div>
    </div>
</div>